doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quicksand:wght@700&display=swap" rel="stylesheet")
    body
        .container.container_flexSB.mt-145
            ul.color-list.container__item_w40
                li.color-list__item.color-list__item_flex
                    .color-list__part.rectangle.bgc-dark
                    .color-list__part
                        .font-h2 Dark Shade 100%
                        .font-h2reg #1F2041
                li.color-list__item.color-list__item_flex
                    .color-list__part.rectangle.bgc-dark-sh75
                    .color-list__part
                        .font-h2 Dark Shade 75%
                        .font-h2reg #1F2041