.container.mt-140
    .container__item.w320
        .input-box
            .input-box__title-group
                p.font-h3.input-box__title-bold Text field
                p.font-h4 Default
            input(type="text", name="", placeholder="Email").input-lg.input-box__content
        .input-box
            .input-box__title-group
                p.font-h3.input-box__title-bold Text field
                p.font-h4 Hover / Focus
            input(type="text", name="", placeholder="This is pretty awesome").input-lg.input-lg_hover.input-box__content
        .input-box
            .input-box__title-group
                p.font-h3.input-box__title-bold Dropdown
                p.font-h4 Default
            select(name="").input-lg.input-box__content.select-css-lg
                option(disabled selected) Сколько гостей
        .input-box
            .input-box__title-group
                p.font-h3.input-box__title-bold Masked text field
                p.font-h4 Default
            input(type="text", name="", placeholder="ДД.ММ.ГГГГ").input-lg.input-box__content
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Date dropdown
                select(name="").input-sm.input-box__content.select-css-sm
                    option(disabled selected) ДД.ММ.ГГГГ
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Date dropdown
                select(name="").input-sm.input-box__content.select-css-sm
                    option(disabled selected) 19.08.2019
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Filter date dropdown
                select(name="").input-md.input-box__content.select-css-md
                    option(disabled selected) 19 авг - 23 авг
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Subscription text field
                .input-btn
                    input(type="text", name="", placeholder="Email").input-md.input-box__content
    .container__item.w260
        .group-buttons
            p.font-h3 Checkbox Buttons
            ul.checkbox-group
                li.checkbox-group__item
                    input(type="checkbox", name="", id="c1").checkbox-css
                    label(for="c1") Можно курить
                li.checkbox-group__item
                    input(type="checkbox", name="", id="c2" checked).checkbox-css
                    label(for="c2") Можно с питомцами
                li.checkbox-group__item
                    input(type="checkbox", name="", id="c3" checked).checkbox-css
                    label(for="c3") Можно пригласить гостей <br>(до 10 человек)
        .group-buttons
            p.font-h3 Radio Buttons
            ul.radiobtn-group
                li.radiobtn-group__item
                    input(type="radio", id="r1", value="1", name="radio" checked).radio-css
                    label(for="r1") Мужчина
                li.radiobtn-group__item
                    input(type="radio", id="r2", value="2", name="radio").radio-css
                    label(for="r2") Женщина
        .group-buttons
            p.font-h3 Toggle
            ul.switch-group
                li.switch-group__item
                    input(type="checkbox", name="", id="s1" checked).switchbox-css
                    label(for="s1") Получать спецпредложения
                li.switch-group__item
                    input(type="checkbox", name="", id="s2").switchbox-css
                    label(for="s2") Получать спецпредложения
        .group-buttons
            p.font-h3 Like button
            ul.like-group
                li.like-group__item
                    input(type="checkbox", name="", id="l1").likebox-css
                    label(for="l1")
                li.like-group__item
                    input(type="checkbox", name="", id="l2" checked).likebox-css
                    label(for="l2")
        .group-buttons
            p.font-h3 Rate button
            ul.rate-group
                li.rate-group__item
                    .star
                    .star
                    .star
                    .star
                    .star_border
                li.rate-group__item
                    .star
                    .star
                    .star
                    .star
                    .star
    .container__item.w320
        .input-box.w266.group-buttons
            .input-box__title-group
                p.font-h3.input-box__title-bold Range Slider
                p.font-h4
                    span.leftPriceOfSlider 5 000
                    span.rouble ₽
                    span.dash  - 
                    span.rightPriceOfSlider 10 000
                    span.rouble ₽
            #id66.range.input-box__content
                #id66b.range__between
                button#id661.range__button_1
                button#id662.range__button_2
                input(type="text" id='id66i1' class='range_inpt1' min='100' max='15000' value='5000')
                input(type="number" id='id66i2' class='range_inpt2' min='100' max='15000'  value='10000')
        .group-buttons
            p.font-h3 Buttons
            ul.btn-group
                li.btn-group__item
                    button.btn Click me
                li.btn-group__item
                    button.btn_hover Click me
                li.btn-group__item
                    button.btn-white Click me
                li.btn-group__item
                    button.btn-white_hover Click me
                li.brn-group__wrapper
                    .btn-group__item
                        button.btn-link Click me
                    .btn-group__item
                        button.btn-link_hover Click me
                li.btn-group__item
                    button.btn-lg Перейти к оплате
                        span.material-icons arrow_forward
        .group-buttons
            p.font-h3 Pagination
            ul.pagination-group.font-h4
                li.pagination-group__item
                    a.pagination-link.pagination-link__active(href="#") 1
                li.pagination-group__item
                    a.pagination-link(href="#") 2
                li.pagination-group__item
                    a.pagination-link(href="#") 3
                li.pagination-group__item
                    span.pagination-link.pagination-link__dots ...
                li.pagination-group__item
                    a.pagination-link(href="#") 15
                li.pagination-group__item
                    a.pagination-link.pagination-link__arrow(href="#")
                        span.material-icons arrow_forward
            p.pagination-desc 1 – 12 из 100+ вариантов аренды
    .container__item.w320
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Dropdown
                    p.font-h4 Default
                select(name="").input-md.input-box__content.select-css-md
                    option(disabled selected) 2 спальни, 2 кровати...
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Dropdown
                    p.font-h4 Expanded
                .input-box__content.dropdown-md
                    .dropdown-md__placeholder#showDropdownRooms
                        .dropdown-md__text#fullRooms
                            p#bedRooms 2 спальни
                            p#beds , 2 кровати
                            p#bathRooms , 1 ван...
                        span.material-icons expand_more
                    .dropdown-md__hidden.show#dropdownRooms
                        .dropdown-md__option 
                            .font-h3 Спальни
                            .quantity-buttons
                                button.btn-minus#minus1 -
                                p.result.font-h3#result1 2
                                button.btn-plus#plus1 +
                        .dropdown-md__option 
                            .font-h3 Кровати
                            .quantity-buttons
                                button.btn-minus#minus2 -
                                p.result.font-h3#result2 2
                                button.btn-plus#plus2 +
                        .dropdown-md__option 
                            .font-h3 Ванные комнаты
                            .quantity-buttons
                                button.btn-minus#minus3 -
                                p.result.font-h3#result3 1
                                button.btn-plus#plus3 +
        .input-box.mt-150
            .input-box__title-group.w260
                p.font-h3.input-box__title-bold Expandable checkbox list
                p.font-h4 
                    span.material-icons.icons expand_more
        .input-box.mt-40
            .input-box__title-group.w260.checkbox-list
                p.font-h3.input-box__title-bold Expandable checkbox list
                p.font-h4 
                    span.material-icons.icons expand_less
            ul.checkbox-group.input-box__checkbox
                li.checkbox-group__item
                    input(type="checkbox", name="", id="a1").checkbox-css
                    label(for="a1") Завтрак
                li.checkbox-group__item
                    input(type="checkbox", name="", id="a2" checked).checkbox-css
                    label(for="a2") Письменный стол
                li.checkbox-group__item
                    input(type="checkbox", name="", id="a3" checked).checkbox-css
                    label(for="a3") Стул для кормления
                li.checkbox-group__item
                    input(type="checkbox", name="", id="a4" checked).checkbox-css
                    label(for="a4") Кроватка
                li.checkbox-group__item
                    input(type="checkbox", name="", id="a5").checkbox-css
                    label(for="a5") Телевизор
                li.checkbox-group__item
                    input(type="checkbox", name="", id="a6").checkbox-css
                    label(for="a6") Шампунь
    .container__item.w320
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Dropdown
                .input-box__content.dropdown-lg
                    .dropdown-lg__placeholder#showDropdownRooms
                        .dropdown-lg__text#fullRooms
                            p#bedRooms Сколько гостей
                        span.material-icons expand_more
                    .dropdown-lg__hidden.show#dropdownRooms
                        .dropdown-lg__option 
                            .font-h3 Взрослые
                            .quantity-buttons
                                button.btn-minus#minus1 -
                                p.result.font-h3#result1 0
                                button.btn-plus#plus1 +
                        .dropdown-lg__option 
                            .font-h3 Дети
                            .quantity-buttons
                                button.btn-minus#minus2 -
                                p.result.font-h3#result2 0
                                button.btn-plus#plus2 +
                        .dropdown-lg__option 
                            .font-h3 Младенцы
                            .quantity-buttons
                                button.btn-minus#minus3 -
                                p.result.font-h3#result3 0
                                button.btn-plus#plus3 +
        .input-box.mt-255
            .input-box__title-group.checkbox-list
                p.font-h3.input-box__title-bold Rich Checkbox Buttons
            ul.checkbox-group.input-box__checkbox
                li.checkbox-group__item
                    input(type="checkbox", name="", id="b1").checkbox-css
                    label(for="b1") 
                        p.text-bold Широкий коридор
                        p.text-sm Ширина коридоров в номере <br>не менее 91 см.
                li.checkbox-group__item
                    input(type="checkbox", name="", id="b2").checkbox-css
                    label(for="b2") 
                        p.text-bold Помощник для инвалидов
                        p.text-sm На 1 этаже вас встретит специалист <br>и проводит до номера.
    .container__item.w320
        .input-box-wrapper
            .input-box
                .input-box__title-group
                    p.font-h3.input-box__title-bold Dropdown
                .input-box__content.dropdown-lg
                    .dropdown-lg__placeholder#showDropdownRooms
                        .dropdown-lg__text#fullRooms
                            p#bedRooms 3 гостя
                        span.material-icons expand_more
                    .dropdown-lg__hidden.show#dropdownRooms
                        .dropdown-lg__option 
                            .font-h3 Взрослые
                            .quantity-buttons
                                button.btn-minus#minus1 -
                                p.result.font-h3#result1 2
                                button.btn-plus#plus1 +
                        .dropdown-lg__option 
                            .font-h3 Дети
                            .quantity-buttons
                                button.btn-minus#minus2 -
                                p.result.font-h3#result2 1
                                button.btn-plus#plus2 +
                        .dropdown-lg__option 
                            .font-h3 Младенцы
                            .quantity-buttons
                                button.btn-minus#minus3 -
                                p.result.font-h3#result3 0
                                button.btn-plus#plus3 +
        .input-box.mt-255
            .input-box__title-group.checkbox-list
                p.font-h3.input-box__title-bold Bullet list
            .bullet
                .circle
                p.bullet__text Нельзя с питомцами
            .bullet
                .circle
                p.bullet__text Без вечеринок и мероприятий
            .bullet
                .circle
                p.bullet__text Время прибытия — после 13:00, <br>а выезд до 12:00
    .container__item.w320.mt-105
        .bullet-img
            span.material-icons.icons-bullet insert_emoticon
            .bullet-img__text
                p.text-bold Комфорт
                p Шумопоглощающие стены
        .bullet-img
            span.material-icons.icons-bullet location_city
            .bullet-img__text
                p.text-bold Удобство
                p Окно в каждой из спален
    .container__item.w710.mt-115
        .testimonial
            .testimonial__img
                .testimonial__photo
                .like-group
                    .like-group__item
                        input(type="checkbox", name="", id="l3" checked).likebox-css
                        label(for="l3")
            .testimonial__text
                p.text-bold Мурад Сарафанов
                p 5 дней назад
                p.testimonial__desc Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.