body {
    font-family: $body-font;
    color: $dark-sh75;
    @extend .tpl-font-body;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}
.container__item_w40 {
    width: 40%;
}
.container_flexSB {
    display: flex;
    justify-content: space-between;
}
.mt-145 {
    margin-top: 145px;
}
.type-list {
    padding-left: 10px;
}
.type-list__item {
    margin-bottom: 50px;
}
.type-list__item_flex {
    display: flex;    
}
.color-list {
    padding-left: 10px;
}
.color-list__item {
    margin-bottom: 20px;
}
.color-list__item_flex {
    display: flex;
    flex-flow: row wrap; 
    // align-items: center;   
}
.color-list__part {
    margin-right: 40px;
    padding-top: 9px;
}
.rectangle {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

