// Vars
$dark: #1F2041;
$dark-sh75: rgba(31, 32, 65, 0.75);
$dark-sh50: rgba(31, 32, 65, 0.5);
$dark-sh25: rgba(31, 32, 65, 0.25);
$dark-sh5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$grey:#E5E5E5;
$title-font: 'Quicksand', sans-serif;
$body-font: 'Montserrat', sans-serif;