ul.type-list
    li.type-list__item
        p.type-list__tag-h1 h1
        p.type-list__text.font-h1 This one is the sub-section or widget title
    li.type-list__item
        p.type-list__tag-h2 h2
        p.type-list__text.font-h2 Next one is the item title inside widgets
    li.type-list__item
        p.type-list__tag-h3 h3
        p.type-list__text.font-h3 This is a label or CTA text
    li.type-list__item
        p.type-list__tag-body Body
        p.type-list__text.font-body This is the body text which is used for most<br> of the design, like paragraphs, lists, etc.
