//- UI kit - Colors & type

mixin color-block(colorName, colorFormat)
    li.color-block
        .color-block__item.rectangle
        .color-block__desc
            p.color-block__title= colorName
            p.color-block__text= colorFormat
