ul.color-list.container__item_w40
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.bgc-dark
        .color-list__part
            .font-h2 Dark Shade 100%
            .font-h2reg #1F2041
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.bgc-dark-sh75
        .color-list__part
            .font-h2 Dark Shade 75%
            .font-h2reg #1F2041
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.bgc-dark-sh50
        .color-list__part
            .font-h2 Dark Shade 50%
            .font-h2reg #1F2041
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.bgc-dark-sh25
        .color-list__part
            .font-h2 Dark Shade 25%
            .font-h2reg #1F2041
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.bgc-dark-sh5
        .color-list__part
            .font-h2 Dark Shade 5%
            .font-h2reg #1F2041
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.purple
        .color-list__part
            .font-h2 Purple
            .font-h2reg #BC9CFF
    li.color-list__item.color-list__item_flex
        .color-list__part.rectangle.green
        .color-list__part
            .font-h2 Green
            .font-h2reg #6FCF97