ul.color-list
    li.color-list__item
        .color-list__part.rectangle.bgc-dark
        .color-list__part
            p.font-h2 Dark Shade 100%
            p.font-h2reg #1F2041
    li.color-list__item
        .color-list__part.rectangle.bgc-dark-sh75
        .color-list__part
            p.font-h2 Dark Shade 75%
            p.font-h2reg #1F2041
    li.color-list__item
        .color-list__part.rectangle.bgc-dark-sh50
        .color-list__part
            p.font-h2 Dark Shade 50%
            p.font-h2reg #1F2041
    li.color-list__item
        .color-list__part.rectangle.bgc-dark-sh25
        .color-list__part
            p.font-h2 Dark Shade 25%
            p.font-h2reg #1F2041
    li.color-list__item
        .color-list__part.rectangle.bgc-dark-sh5
        .color-list__part
            p.font-h2 Dark Shade 5%
            p.font-h2reg #1F2041
    li.color-list__item
        .color-list__part.rectangle.purple
        .color-list__part
            p.font-h2 Purple
            p.font-h2reg #BC9CFF
    li.color-list__item
        .color-list__part.rectangle.green
        .color-list__part
            p.font-h2 Green
            p.font-h2reg #6FCF97